.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}
.card-container{
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
    transform: transform 0.25s ease-in-out;
}
.card-container:hover{
    transform: scale(1.05);
}